/* ===== RESET & BASE ===== */
*, *::before, *::after {
    box-sizing: border-box;
    margin:0;
    padding:0
}

:root {

    --bg:#0a0a0f;
    --bg2:#111118;
    --bg3:#18181f;
    --text:#f0f0f5;
    --muted:#8a8a9a;
    --accent:#7c6dfa;
    --accent3:#2dd4b0;
}

html { 
scroll-behavior:smooth;
}

body{
    font-family:'outfit',sans-serif;
    background:var(--bg);
    color:var(--text);
    line-height:1.7;
}

/* ===== NAVBAR ===== */
nav {
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:100;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:1.2rem 4rem;
    background:rgba(10,10,15,0.85);
    backdrop-filter:blur(16px);
    border-bottom:1px solid rgba(255,255,255,0.07);
}

.logo{
    font-size:1rem;
    color:var(--accent);
    letter-spacing:0.05em;
}

.nav-links{
    display:flex;
    gap:2.5rem;
    list-style:none;
}

.nav-links a {
    font-size:0.85rem;
    color:var(--muted);
    text-decoration:none;
    text-transform:uppercase;
    letter-spacing:0.08em;
    transition:color 0.2s;
}

.nav-links a:hover{
    color: var(--text);
}
/* ===== HERO SECTION =====*/
#home {
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:10rem 4rem 4rem ;
    max-width:1100px;
    margin:0 auto;
}

.hero-eyebrow{
    font-size:0.8rem;
    color:var(--accent3);
    letter-spacing:0.15em;
    text-transform:uppercase;
    margin-bottom:1.5rem;
}

#home h1 {
    font-size:clamp(3rem,8vw,6rem);
    line-height:1.05;
    margin-bottom:0.5rem;
}

#home h1 span{
    color:var(--accent);
}
.subtitle{
    font-size:clamp(1.2rem,3vw,2rem);
    color:var(--muted);
    font-size:1rem;
    margin-bottom:2rem;
}

/*===== HERO BUTTONS =====*/
.hero-cta{
    display:flex;
    gap:1rem;
    margin-bottom:3rem;
}
.btn-primary{
    font-size:0.8rem;
    letter-spacing:0.1em;
    text-transform:uppercase;
    background:var(--accent);
    color:#fff;
    padding:0.85rem 2rem;
    border-radius:2px;
    text-decoration:none;
    transition:opacity 0.2s;
}

.btn-primary:hover{
    opacity:0.85;
}

.btn-outline{
    font-size:0.8rem;
    letter-spacing:0.1em;
    text-transform:uppercase;
    border:1px solid rgba(255,255,255,0.12);
    color:var(--muted);
    padding:0.85rem 2rem;
    border-radius:2px;
    text-decoration:none;
    transition:all 0.2s;
}

.btn-outline:hover{
    border-color:var(--text);
    color:var(--text);
}

/* ===== HERO STATS ===== */
.hero-stats{
    display:flex;
    gap:3rem;
    padding-top:3rem;
    border-top:1px solid rgba(255,255,255,0.07);
}

.stat-num{
    font-size:2.5rem;
    color:var(--accent);
}

.stat-num span{
    color:var(--accent);
    font-size:1.2rem;
}

.stat-label{
    font-size:0.75rem;
    color:var(--muted);
    text-transform:uppercase;
    letter-spacing:0.1em;
    margin-top:0.2rem;
}
/* =====DECTION GENERAL =====*/
section {
    min-height:100vh;
    padding:8rem 4rem 4rem;
    max-width:1100px;
    margin:0 auto;
}

.section-label{
    font-size: 0.75rem;
    color:var(--accent);
    letter-spacing:0.15em;
    text-transform:uppercase;
    margin-bottom:1rem;
}

.section-title{
    font-size:clamp(2rem,4vw,3.5rem);
    color:var(--text);
    margin-bottom:3rem;
}

/*=====ABOUT======*/
.about-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:4rem;
    align-items:start;
}

.about-text p {
    color:var(--muted);
    font-size:0.95rem;
    line-height:1.9;
    margin-bottom:1.2rem;
}
.about-text p strong{
    color:var(--text);
    font-weight:500;
}

.about-info{
    display:flex;
    flex-direction:column;
    gap:1rem;
    margin-top:2rem;
}

.info-row{
    display:flex;
    align-items:center;
    gap:1rem;
    font-size:0.85rem;
}

.info-key{
    color:var(--accent3);
    width:90px;
    flex-shrink:0;
}

.info-val{
    color:var(--muted);
}
/*===== SKILLS PANEL =====*/
.skills-panel{
    background:var(--bg2);
    border:1px solid rgba(255,255,255,0.07);
    border-radius:4px;
    padding:2rem;
}

.skills-panel h3{
    font-size:0.8rem;
    color:var(--accent);
    letter-spacing:0.1em;
    text-transform:uppercase;
    margin-bottom:1.5rem;
}

.skill-item{
    margin-bottom:1.4rem;
}
.skill-top{
    display:flex;
    justify-content:space-between;
    font-size:0.85rem;
    color:var(--muted);
    margin-bottom:0.4rem;
}

.skill-top strong{
    color:var(--text);
    font-weight:500 ;
}

.skill-bar{
    height:3px;
    background:var(--bg3);
    border-radius:2px;
    overflow:hidden;
}

.skill-fill{
    height:100%;
    border-radius:2px;
    background:linear-gradient(90deg,var(--accent),var(--accent3));
}

/*=====Projects======*/
.projets-grid{
    display:gird;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    gap:1.5rem;
    margin-top:1rem;
}

.project-card{
    background:var(--bg2);
    border:1px solid rgba(255,255,255,0.07);  
    border-radius:4px;
    padding:1.8rem;
    transition:border-color 0.25s, transform 0.2s;
}

.project-card:hover{
    border-color:rgba(255,255,255,0.12);
    transform:translateY(-3px);
}

.proj-num{
    font-size:0.7rem;
    color:var(--accent3);
    letter-spacing:0.1em;
    margin-bottom:1rem;
}

.proj-desc{
    font-size:0.88rem;
    color:var(--muted);
    line-height:1.7;
    margin-bottom:1.5rem;
}

.proj-tags{
    display:flex;
    gap:0.5rem;
    flex-wrap:wrap;
    margin-bottom:1.5rem;
}

.proj-tag{
    font-size:0.7rem;
    color:var(--muted);
    background:var(--bg3);
    padding:0.25rem 0.6rem;
    border-radius:2px;
}

.proj-links{
    font-size:0.75rem;
    color:var(--accent);
    letter-spacing:0.08em;
    border-bottom:1px solid var(--accent);
    padding-bottom:1px;
    text-decoration:none;
    transition:color 0.2s;
}

.proj-link:hover{
    color:var(--accent3);
    border-color:var(--accent3);
}